* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  border: 5px rgba(128, 128, 128, 0.377) solid;
  width: 45%;
  height: auto;
  margin: 0 auto;
}
.container {
  /* border: 2px black solid; */
  flex-direction: column;
  width: fit-content;
  margin: 0 0 10px 40px;
  position: relative;
  top: -60px;
}
.header {
  width: 100%;
  height: 100px;
  background-color: teal;
}
.img1 {
  width: 30%;
  height: auto;
  border: 5px rgba(128, 128, 128, 0.664) solid;
  border-radius: 50%;
  margin: 5px;
}
.name {
  font-size: 2.5em;
  margin-left: 5px;
}
.marker {
  display: flex;
}
.img2 {
  width: 7%;
  margin: 10px;
}
.location {
  align-self: center;
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.about {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px;
}
#footer {
  /* border: 2px black solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: auto;
  position: relative;
  top: -60px;
}
#footer img {
  width: 25%;
  padding: 10px;
  margin-left: 5px;
}
